box-sizing:border-box input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22x 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
form {
  height: 470px;
  margin-right: 200px;
  min-width: 500px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.signupbtn {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 1;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: #4caf50;
  margin-left: 20px;
}
.cancelbtn {
  float: left;
  width: 48%;
}
.signupbtn {
  float: right;
  width: 48%;
}
.container {
  padding: 16px;
}
