.title {
  padding-left: 200px;
  margin-bottom: 30px;
  margin-top: 20px;
}

box-sizing:border-box input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22x 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
form {
  height: 630px;
  margin-right: 200px;
  min-width: 500px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.signupbtn {
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  float: right;
  width: 49%;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #4caf50;
  margin-left: 0px;
  margin-top: 10px;
  float: left;
  cursor: pointer;
  width: 49%;
}

.container {
  padding: 16px;
}
